@import "tailwindcss";

/* import the custom fonts */
@font-face {
  font-family: "circular-web";
  src: url('/fonts/circularweb-book.woff2') format("woff2");
}
@font-face {
  font-family: "general";
  src: url('/fonts/general.woff2') format("woff2");
}
@font-face {
  font-family: "robert-medium";
  src: url('/fonts/robert-medium.woff2') format("woff2");
}
@font-face {
  font-family: "robert-regular";
  src: url('/fonts/robert-regular.woff2') format("woff2");
}
@font-face {
  font-family: "zentry-regular";
  src: url('/fonts/zentry-regular.woff2') format("woff2");
}

/* add the custom fonts and colors to tailwind */
@theme {
  --font-circular-web: "circular-web", "sans-serif";
  --font-general: "general", "sans-serif";
  --font-robert-medium: "robert-medium", "sans-serif";
  --font-robert-regular: "robert-regular", "sans-serif";
  --font-zentry-regular: "zentry-regular", "sans-serif";

  --color-my-blue-50: #DFDFF0;
  --color-my-blue-75: #DFDFF2;
  --color-my-blue-100: #F0F2FA;
  --color-my-blue-200: #010101;
  --color-my-blue-300: #4FB7DD;

  --color-my-violet-300: #5724FF;

  --color-my-yellow-100: #8E983F;
  --color-my-yellow-300: #EDFF66;
}

@layer base {
  body {
    font-family: sans-serif;
    width: 100dvw;
    background-color: #dfdff0;
  }
}

@layer utilities {
  .absolute-center {
    @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]
  }

  .flex-center {
    @apply flex justify-center items-center
  }

  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .special-font b {
    font-family: "zentry-regular";
    font-feature-settings: 'ss01' on;
  }

  .hero-heading {
    @apply uppercase font-zentry-regular font-black text-5xl sm:text-7xl md:text-9xl lg:text-[12rem]
  }
}